@page "/organization/{OrganizationId}/instance/{DataTypeId}"
@using UintaPine.CRM.App.Services
@using UintaPine.CRM.Model.Shared.Responses

@inject API _api

<h3>Instance Create</h3>
<h5>@DataTypeId</h5>


@if (Type != null)
{
    <div class="row">
        <div class="col-md-12">
            <h3>@Type.Name</h3>
        </div>
    </div>

    @for (int row = 1; row <= Type.Fields.Select(f => f.Row).Max(); row++)
    {
        <div class="row">
            @for (int col = 1; col <= 12; col++)
            {
                foreach (var field in Type.Fields.Where(f => f.Row == row && f.Column == col))
                {
                    @if(field.Type == Model.Shared.Enumerations.FieldType.Text)
                    {
                        <div class="form-group col-md-@(field.Column + (field.ColumnSpan - 1))">
                            <label for="@field.Id">@field.Name</label>
                            <input id="@field.Id" type="text" class="form-control">
                        </div>
                    }
                    else if(field.Type == Model.Shared.Enumerations.FieldType.TextArea)
                    {
                        <div class="form-group col-md-@(field.Column + (field.ColumnSpan - 1))">
                            <label for="@field.Id" >@field.Name</label>
                            <textarea id="@field.Id" class="form-control"></textarea>
                        </div>
                    }
                    else if(field.Type == Model.Shared.Enumerations.FieldType.Number)
                    {
                        <div class="form-group col-md-@(field.Column + (field.ColumnSpan - 1))">
                            <label for="@field.Id" >@field.Name</label>
                            <input id="@field.Id" type="number" class="form-control">
                        </div>
                    }
                }
            }
        </div>
    }
}

@code {
    [Parameter]
    public string OrganizationId { get; set; }

    [Parameter]
    public string DataTypeId { get; set; } //If Id=="Create", then do not get the customer details

    //Loaded from API
    public Organization Organization { get; set; } = new Organization();
    public InstanceType Type { get; set; }

    async protected override Task OnInitializedAsync()
    {
        await GetOrganization();
        await GetDataTypes();
    }

    async private Task GetOrganization()
    {
        Organization = await _api.GetOrganizationById(OrganizationId);
    }

    async private Task GetDataTypes()
    {
        Type = await _api.GetDataTypeByOrganizationIdTypeId(OrganizationId, DataTypeId);
    }
}
