@page "/portal"
@page "/portal/{id}"

@using UintaPine.CRM.App.Services
@using UintaPine.CRM.Model.Shared.Responses

@inject API _api
@inject AppState _appState
@inject IToastService toastService
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject NavigationManager _navigationManger


@if (Organization != null)
{
    <div class="row">
        <div class="col-md-8">
            <div class="btn-group">
                <button class="btn btn-outline-dark btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Organization.Name
                </button>
                <div class="dropdown-menu">
                    <NavLink class="dropdown-item pointer" href="@($"organization/{Organization.Id}/settings")">
                        <i class="fas fa-cogs mr-2"></i> Organization Settings
                    </NavLink>
                    <NavLink class="dropdown-item pointer" href="@($"organization/{Organization.Id}/fields")">
                        <i class="fas fa-cogs mr-2"></i> Organization Fields
                    </NavLink>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            @if (SelectedType != null)
            {
                <NavLink class="btn btn-success btn-lg pointer float-right" href="@($"organization/{Organization.Id}/instance/{SelectedType}")">
                    <i class="fas fa-plus mr-2"></i><span>@Types.FirstOrDefault(t => t.Id == SelectedType)?.Name</span>
                </NavLink>
            }
        </div>
        <div class="col-md-2">
            <select class="custom-select custom-select-lg float-right" @bind="SelectedType">
                <option>---Data Types---</option>
                @foreach (var type in Types)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-8">
            @foreach (var tag in Organization.Tags)
            {
                <span class="badge badge-pill px-2 py-1 ml-1 float-right tag-font @($"{tag.BackgroundColor}_background") @($"{tag.FontColor}_font")">@tag.Name<i class="deleteTagButton pointer fas fa-times-circle ml-2"></i></span>
            }
        </div>
        <div class="col-md-4">
            <div class="input-group float-right">
                <input type="text" class="form-control" aria-label="Text input with dropdown button" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search mr-2"></i>Search</button>
                </div>
            </div>
        </div>

    </div>

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </table>
}

@code {

    [Parameter]
    public string Id { get; set; }

    //Loaded from API
    Organization Organization { get; set; }
    List<InstanceType> Types { get; set; } = new List<InstanceType>();

    //Selection
    private string SelectedType { get; set; }
    List<CustomerTag> SearchTags { get; set; } = new List<CustomerTag>();

    /// <summary>
    /// Id for local storage. Last organization loaded is stored in local storage. Will be retrieved and used if no Id is specified on the ULR parameter.
    /// </summary>
    private const string LastOrganizationId = "LastOrganizationId";

    async protected override Task OnInitializedAsync()
    {

        var lastOrganization = localStorage.GetItem<string>(LastOrganizationId);
        if (Id == null && lastOrganization != null)
        {
            _navigationManger.NavigateTo($"portal/{lastOrganization}");
        }
        else
        {
            await LoadOrganizationData();
            await GetDataTypes();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadOrganizationData();
        await GetDataTypes();
    }

    private async Task LoadOrganizationData()
    {
        if (Id != null)
        {
            Organization = await _api.GetOrganizationById(Id);
            localStorage.SetItem(LastOrganizationId, Id);
        }
    }

    async private Task GetDataTypes()
    {
        if (Id != null)
        {
            Types = await _api.GetDataTypeByOrganizationId(Id);
        }
    }

    //private void SearchTagSelectedEvent(ChangeEventArgs e)
    //{
    //    string selectedTagId = e.Value.ToString();
    //    SearchTags.Add(Organization.Tags.FirstOrDefault(t => t.Id == selectedTagId));
    //}

    //private void DeleteSearchTag(CustomerTag tag)
    //{
    //    SearchTags = SearchTags.Where(t => t.Id != tag.Id).ToList();
    //}
}
